@model IEnumerable<portal_job_FN.Models.VnpayModel>

@{
    ViewData["Title"] = "Lịch sử nạp";
    Layout = "~/Views/Shared/_Layout_Company.cshtml";
}
@{
    var user = ViewBag.User as portal_job_FN.Models.ApplicationUser;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 style="margin-bottom:20px; font-family:'Times New Roman'">
                Lịch sử nạp tiền
            </h2>
            
            <a asp-area="Company" asp-controller="Payment" asp-action="Purchase"><button class="btn btn-primary">Nạp ngay</button></a>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead style=" font-weight: bold; font-size: 20px;">
                        <tr>
                            <th style=" font-weight: bold; font-size: 30px;color:black; font-family:'Times New Roman'">Mã đơn</th>
                            <th style=" font-weight: bold; font-size: 30px;color:black; font-family:'Times New Roman'">Tên công ty</th>
                            <th style=" font-weight: bold; font-size: 30px;color:black; font-family:'Times New Roman'">Số tiền</th>
                            <th style=" font-weight: bold; font-size: 30px;color:black; font-family:'Times New Roman'">Số lượng bài</th>
                            <th style=" font-weight: bold; font-size: 30px;color:black; font-family:'Times New Roman'">Nạp ngày</th>
                            <th style=" font-weight: bold; font-size: 30px;color:black; font-family:'Times New Roman'">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pay in Model)
                        {
                            <tr>
                                <td style=" font-size: 20px;color:black">
                                    <span>@pay.OrderId</span>
                                </td>
                                <td style=" font-size: 20px;color:black">@user.company_name</td>
                                <td style=" font-size: 20px;color:black">
                                    <div>
                                        <span>@pay.Amount</span>
                                    </div>
                                </td>
                                <td style="font-size: 20px; color:black">
                                    <div>
                                        <span>
                                          @pay.PostCount
                                        </span>
                                    </div>
                                </td>

                                <td style=" font-size: 20px;color:black">
                                    <div>
                                     
                                        <i class="mdi mdi-calendar" style="color:green"></i>
                                  
                                        <span>@pay.create_at</span>
                                    </div>
                                </td>
                                <td style=" font-size: 20px;color:black">
                                    <a class="btn btn-info" href="/Company/Payment/DetailPayment/@pay.Id">Chi tiết</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>